<!-- Author: Beckett Jenen -->
<!DOCTYPE html>
<html>
    <head>
        <title>CSH Calendar</title>
        <!-- Metta -->
        <meta charset="utf-8">
        <meta name="viewport" user-scalable=false content="width=device-width, initial-scale=1"/>
        <meta name="theme-color" content="#B0197E">
        <!-- Linking to stylesheets, scriptsheets, and apis -->
        <link rel="stylesheet" href="https://assets.csh.rit.edu/csh-material-bootstrap/3.3.6/dist/csh-material-bootstrap.min.css">

        <!-- Bootstrap CSS library -->
        <link rel="stylesheet" href=
        "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity=
        "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>

        <!-- JS library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>

        <!-- Latest compiled JavaScript library -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/03ebd399b9.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center nav-bar">
                <a href="https://www.csh.rit.edu/">
                    <img class="navbar-logo" src="/img/logo.png" width="30" height="30">
                </a>
                <div class="month-changer justify-content-center">
                    <button class="left"><i class="fa fa-arrow-left"></i></button>
                    <div id="data_chooser"></div>
                    <button class="right"><i class="fa fa-arrow-right"></i></button>
                </div>
                <a class="copy-link" href="https://calendar.google.com/calendar/r?cid=rti648k5hv7j3ae3a3rum8potk@group.calendar.google.com">Copy the calendar</a>
            </div>
            <div class="row">
                <div id="calendar_container">
                    <div id="calendar_display">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Sun</th>
                                    <th scope="col">Mon</th>
                                    <th scope="col">Tue</th>
                                    <th scope="col">Wed</th>
                                    <th scope="col">Thu</th>
                                    <th scope="col">Fri</th>
                                    <th scope="col">Sat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="r0">
                                    <td class="col0"></td>
                                    <td class="col1"></td>
                                    <td class="col2"></td>
                                    <td class="col3"></td>
                                    <td class="col4"></td>
                                    <td class="col5"></td>
                                    <td class="col6"></td>
                                </tr>
                                <tr class="r1">
                                    <td class="col0"></td>
                                    <td class="col1"></td>
                                    <td class="col2"></td>
                                    <td class="col3"></td>
                                    <td class="col4"></td>
                                    <td class="col5"></td>
                                    <td class="col6"></td>
                                </tr>
                                <tr class="r2">
                                    <td class="col0"></td>
                                    <td class="col1"></td>
                                    <td class="col2"></td>
                                    <td class="col3"></td>
                                    <td class="col4"></td>
                                    <td class="col5"></td>
                                    <td class="col6"></td>
                                </tr>
                                <tr class="r3">
                                    <td class="col0"></td>
                                    <td class="col1"></td>
                                    <td class="col2"></td>
                                    <td class="col3"></td>
                                    <td class="col4"></td>
                                    <td class="col5"></td>
                                    <td class="col6"></td>
                                </tr>
                                <tr class="r4">
                                    <td class="col0"></td>
                                    <td class="col1"></td>
                                    <td class="col2"></td>
                                    <td class="col3"></td>
                                    <td class="col4"></td>
                                    <td class="col5"></td>
                                    <td class="col6"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                var popOverSettings = {
                    animation: false,
                    html: true,
                    placement: 'top',
                    container: 'body',
                    trigger: 'hover',
                    offset: '180',
                    selector: "[rel='popover']", //Sepcify the selector here
                    content: "<div id='poppedOver'><p>Error</p></div>"
                }

                $('body').popover(popOverSettings);
                $().tooltip({container: 'body'})
            });

            function updateInfo(x){
                $("body").on('shown.bs.popover', function () {
                    var obj = $(x);
                    $("#poppedOver").html(
                        '<p><b>Day: </b>' + obj.data("d") + '</p>'
                        + '<p><b>Title: </b>' + obj.text() + '</p>'
                        + '<p><b>Location: </b>' + obj.data("loc") + '</p>'
                        + '<p><b>Description: </b>' + obj.data("des") + '</p>'
                    );
                })
            }

            function getCalendar(d){
                const data = { mon: (d.getMonth()+1), yea: d.getFullYear() };

                fetch('/getCal', {
                    method: 'POST', // or 'PUT'
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                .then(r => r.json())
                .then(r => {
                    generateCalendar(d, r);
                })
                .catch(err => console.log(err));
            }

            function generateCalendar(d, r) {
                calData = [];
                var importPointer = 0;
                var days = howManyDays(d)+1;
                var shift = getDayFirstDate(d);
                clear();

                for(var i = 1; i < days; i++) {
                    var eventPerDay = "";
                    var posi_row = Math.floor(((i-1)+shift)/7);
                    var posi_col = Math.floor(((i-1)+shift)%7);
                    try{
                        while(i == r[importPointer].day){
                            if (r[importPointer].day != null) {
                                eventPerDay += "<br>" + "<br>";
                                eventPerDay += "<a class='eventLine' rel='popover' onmouseover='updateInfo(this)' data-d='"+ i + "' href='"+ r[importPointer].link + "' data-loc='"+ r[importPointer].loc + "' data-des='"+ r[importPointer].des + "'>" + r[importPointer].info + "</a>";
                                importPointer++;
                            }
                        }
                    }catch(err){}
                    var element = "<span class='cal-numbers'>" + i + "</span>" + eventPerDay;
                    $('#calendar_display .r'+posi_row).children('.col'+posi_col).html(element);
                }
            }
            function clear(){
                $('#calendar_display tbody td').each(function(){
                    $(this).html('');
                })
            }

            function getDayFirstDate(d) {
                var tempd = new Date();
                tempd.setFullYear(d.getFullYear());
                tempd.setMonth(d.getMonth());
                tempd.setDate(1);
                tempd.setHours(0);
                tempd.setMinutes(0);
                tempd.setSeconds(0);
                return tempd.getDay();
            }

            function howManyDays(d) {
                var m = d.getMonth()+1 ;
                if(m == 1 || m == 3 || m == 5 || m == 7 || m == 8 || m == 10 || m == 12) return 31;
                if(m == 2) {
                    if(isLeapYear(d.getFullYear())) {
                        return 29
                    } else {
                        return 28
                    }
                }
                return 30;
            }

            function isLeapYear(year) {
                if(year % 400 == 0) {
                    return true;
                } else if(year % 100 == 0) {
                    return false;
                } else if(year % 4 == 0) {
                    return true;
                } else {
                    return false;
                }
            }

            function updateDate(d, sign) {
                var m = d.getMonth();
                if(sign) {
                    if(m + 1 > 11) {
                        d.setFullYear(d.getFullYear()+1);
                        d.setMonth(0);
                    } else {
                        d.setMonth(m + 1);
                    }
                } else {
                    if(m - 1 < 0) {
                        d.setFullYear(d.getFullYear()-1);
                        d.setMonth(11);
                    } else {
                        d.setMonth(m - 1);
                    }
                }
            }

            $(function(){
                var d = new Date();
                $('#data_chooser').html((d.getMonth()+1) + '/' + d.getFullYear());
                getCalendar(d);

                $('.left').click(function() {
                    updateDate(d, 0);
                    $('#data_chooser').html((d.getMonth()+1) + '/' + d.getFullYear());
                    getCalendar(d);

                    return false;
                });

                $('.right').click(function() {
                    updateDate(d, 1);
                    $('#data_chooser').html((d.getMonth()+1) + '/' + d.getFullYear());
                    getCalendar(d);

                    return false;
                });
            });
        </script>
    </body>
</html>